.header a{
    text-decoration: none;
    margin-left: 20px;
    color: green;
    font-weight: 600;
}
.header a:hover{
    color: crimson;
}
.active{
    background-color: aquamarine;
    color: white;
}